h1 {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
}

p, label, input, select, button {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
}

button {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
     border-radius: 10px;
}

nav {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
}

body{
    background-color:#ffe8f6;
}

nav {
    background-color: #ffb6c1;
}