*{  font-family: "Cherry Bomb One", cursive;}

h1 {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
}

p, label, input, select, button {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
}

/* Estilos para el formulario */
button {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
     border-radius: 10px;
}

nav {
    font-family: "Cherry Bomb One", cursive;
    text-align: center;
        background-color:#ffe8f6;
}

nav {
    background-color: #fdfdfd;
}

body {
    background-color: #FFF4E6;
}
/* HERO */
.hero{
    height: 90vh;
    background-image: url("imagenes/Dia-del-Ramen-jpg.webp");
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.5);
}

.hero div{
    position:relative;
    z-index:2;
}

/* formulario centrado */
#title-form{
    max-width:600px;
    margin:auto;
    border-radius:15px;
}

.contenedor-cards{
    display: flex;          /* pone cards lado a lado */
    justify-content: center;
    gap: 30px;              /* espacio entre cards */
    flex-wrap: wrap;        /* responsive */
    padding: 40px;
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.contador-carrito{
    display: flex;
    align-items: center;
    gap: 10px;
}

